{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class='my-5 text-primary text-center'>Edit Product</h1>
    <div class='container'>
      <div class='w-50 mx-auto border rounded p-5'>
        <form method="post" class="form" enctype="multipart/form-data" id="editForm">
            {% csrf_token %}
        
            {% bootstrap_form form %}
        
            <button type='submit' class='d-block mt-2 btn btn-warning w-75 mx-auto'> Edit</button>
          
        </form>
      </div>
    </div>

  
    {% block jsfiles %}

    <script>
      console.log('here')
      document.getElementById('editForm').addEventListener('submit', function(event) {
          const name = document.getElementById('id_name').value.trim();
          const image = document.getElementById('id_image').value.trim();
          const category = document.getElementById('id_category').value;
          if (name === '') {
              alert('Please enter a name.');
              event.preventDefault();
          }
  
          if (image === '') {
              alert('Please select an image.');
              event.preventDefault();
          }
  
          if (category === '') {
              alert('Please select a category.');
              event.preventDefault();
          }
      });
  </script>

    {% endblock jsfiles%}




{% endblock content %}
