{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class='mt-5 text-primary text-center'>ADD New Product</h1>
    <div class='container'>
        <form action="/url/to/submit/" method="post" class="form">
            {% csrf_token %}
        
            {% bootstrap_form form %}
        
            <button type='submit' class='btn btn-primary w-75 mx-auto'> ADD</button>
            {% bootstrap_button button_type="submit" content="ADD" %}
            {% bootstrap_button button_type="reset" content="Cancel" %}
        </form>

    </div>
{% endblock content %}
